<!DOCTYPE html>
<html lang="en">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <meta name="description" content="Lol, I can't come up with any ideas.">
	    <meta name="author" content="Ayy, lmao">

	    <title>I have no ideas</title>

	    <!-- Bootstrap core CSS -->
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="/static/css/white-navbar.css" />
	    <link rel="stylesheet" type="text/css" href="/static/css/type.css" />
	    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
	    {% block extra_styles %}{% endblock %}

	</head>

	<body>

		<nav class="navbar navbar-default">
		    <div class="container">
		        <div class="navbar-header">
		            <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="/">¯\_(ツ)_/¯</a>
		        </div>

		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav">
		                <li><a href="#">Projects</a></li>
		                <li><a href="#">Students</a></li>
		                <li><a href="#">Advisors</a></li>
		            </ul>

					<ul class="nav navbar-nav navbar-right">
						{% if not signed_in %}
					    	<li><a href="/signup">Log in / Sign up</a></li>
					    {% else %}
					    	<li><a href="/account">My account</a></li>
					    	<li><a href="/logout">Logout</a></li>
						{% endif %}
					</ul>
		        </div>
		    </div>
		</nav>

	    {% block content %}{% endblock %}

		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					<a href="#">About</a> | 
					<a href="#">Projects</a> |
					<a href="#">Students</a> | 
					<a href="#">Advisors</a>
				</p>
			</div>
		</footer>


	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	    {% block extra_scripts %}{% endblock %}
	</body>

</html>