<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Log in / Sign up</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

        <!-- Custom styles for this template -->
        <link rel="stylesheet" type="text/css" href="/static/css/type.css" />
        <link href="/static/css/signin.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-social.css" />

        <style type="text/css">
            .main {
                background-color: white;
                padding-bottom: 20px;
                border-radius: 5px;
            }

            .logins > * {
                padding-bottom: 10px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="main col-md-8 col-md-offset-2 text-center">
                    <h3>Log in / Sign up</h3>
                    <hr>
                    <div class="logins row" style="padding-bottom: 20px;">
                        <div class="col-md-8 col-md-offset-2">
                            <a href="#" class="btn btn-block btn-social btn-google">
                                <i class="fa fa-google-plus"></i> Log in in with Google
                            </a>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <a href="/signup/linkedin" class="btn btn-block btn-social btn-linkedin">
                                <i class="fa fa-linkedin"></i> Log in in with LinkedIn
                            </a>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <a href="#" class="btn btn-block btn-social btn-github">
                                <i class="fa fa-github"></i> Log in in with Github
                            </a>
                        </div>
                    </div>
                    <p>Log on or sign up with one of these networks to get started on a project.</p>
                    <hr>
                    <p><a href="/">Back to home</a></p>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </body>

</html>